<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CeVIOServerExecute.Config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CeVIOServerExecute.UserParam" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <CeVIOServerExecute.Config>
            <setting name="url" serializeAs="String">
                <value>"http://172.19.192.1:8399/"</value>
            </setting>
            <setting name="cast" serializeAs="String">
                <value>"さとうささら"</value>
            </setting>
            <setting name="dic_path" serializeAs="String">
                <value>""</value>
            </setting>
            <setting name="userdic_path" serializeAs="String">
                <value>""</value>
            </setting>
        </CeVIOServerExecute.Config>
    </userSettings>
    <applicationSettings>
        <CeVIOServerExecute.UserParam>
            <setting name="url" serializeAs="String">
                <value>http://localhost:8400/</value>
            </setting>
            <setting name="cast" serializeAs="String">
                <value>さとうささら</value>
            </setting>
            <setting name="ebdic_path" serializeAs="String">
                <value />
            </setting>
            <setting name="userdic_path" serializeAs="String">
                <value />
            </setting>
        </CeVIOServerExecute.UserParam>
    </applicationSettings>
</configuration>
